.message-footer {
  padding: 0.3em 1em;
  width: 100%;
  min-height: 3em;
  border: 1px solid black;
  color: black;
  font-size: 1.1em;
  font-family: monospace;
  display: flex;
}
.message-box {
  border: 1px solid black;
  padding: 1em;
  min-height: 5em;
}
.user-details {
  padding: 0.2em 1em;
}

ul {
  list-style-type: none;
}
/*.pull-right {
  float: right;
}*/
.left-div {
  order: 1;
  /* This will be twice as big as the small item. */
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
 }
.right-div {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  text-align: right;
  order: 2;
 }
